<template>
  <div>
      <h1>My Page</h1>
      <div class="Nitro">{{ name }}</div>
      <img src="../assets/nitroez.jpg" alt="" >
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style>
@font-face {
  font-family: Ntez;
  src: url('../assets/font/Caligraf-Medium_PERSONAL_USE_ONLY.ttf');
}
.Nitro {
  font-family: Ntez;
  font-size: 50pt;
}
</style>
